Ionic/log.txt
.vscode/
Ionic/npm-debug.log*

Ionic/.idea/
Ionic/.sourcemaps/
Ionic/.sass-cache/
Ionic/.tmp/
Ionic/.versions/
Ionic/coverage/
Ionic/dist/
Ionic/node_modules/
Ionic/tmp/
Ionic/temp/
Ionic/hooks/
Ionic/platforms/
Ionic/plugins/
Ionic/plugins/android.json
Ionic/plugins/ios.json
Ionic/www/
Ionic/$RECYCLE.BIN/

Ionic/.DS_Store
Ionic/Thumbs.db
Ionic/UserInterfaceState.xcuserstate
